@model HotelCollab.Areas.Manager.ViewModels.RequestsViewModel

<div class="main-content container-fluid">
    <div class="page-title">
        <h3>Заявки</h3>
        <p class="text-subtitle text-muted">Тук може подтвърдите заявките за регистрация, подадени от служителите.</p>
    </div>
    <div class="card widget-todo">
        <div class="card-header border-bottom d-flex justify-content-between align-items-center">
            <h4 class="card-title d-flex">
                <i class='bx bx-check font-medium-5 pl-25 pr-75'></i>Подадени заявки
            </h4>

        </div>
        <div class="card-body px-0 py-1">
            <ul class="widget-todo-list-wrapper" id="widget-todo-list">
                @foreach (var request in Model.Requests)
                {
                    <li class="widget-todo-item">
                        <div class="widget-todo-title-wrapper d-flex justify-content-between align-items-center mb-50">
                            <div class="widget-todo-title-area d-flex align-items-center">
                                <div class="checkbox checkbox-shadow">
                                    <input type="checkbox" class="form-check-input" id="checkbox1" data-toggle="modal" data-target="#default">
                                    <label for="checkbox1"></label>
                                </div>
                                <span class="widget-todo-title ml-50"> @request.User.FirstName @request.User.LastName - @request.Role, подадена на @request.CreatedOn.Date.ToShortDateString() г.</span>
                                <div class="modal fade text-left" id="default" tabindex="-1" role="dialog" aria-labelledby="myModalLabel1"
                                     aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-scrollable" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="myModalLabel1">@request.User.FirstName @request.User.LastName - @request.Role, подадена на @request.CreatedOn.Date.ToShortDateString() г.</h5>
                                                <button type="button" class="close rounded-pill" data-dismiss="modal" aria-label="Close">
                                                    <i data-feather="x"></i>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                <p>
                                                    Сигурни ли сте, че искате да подтвърдите заявката?
                                                </p>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn" data-dismiss="modal">
                                                    <i class="bx bx-x d-block d-sm-none"></i>
                                                    <span class="d-none d-sm-block">Затвори</span>
                                                </button>
                                                <form asp-area="Manager" asp-controller="Requests" asp-action="Finish" asp-route-id="@request.Id" method="post">
                                                    <input type="submit" class="btn btn-primary ml-1" name="name" value="Потвърди"/>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                }
            </ul>
        </div>
    </div>
</div>